@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(47, 50, 65);
}
.content{
  padding: 20px;
  width: 250px;
  height: 22vh;
  border-radius: 5px;
  color: white;
  background-color: rgb(59, 122, 122);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align:center;
}
.head{
  /* text-align: center; */
  font-size: 12px;
  letter-spacing: 5px;
  margin-top: 5px;
  padding-bottom: 10px;
}
.advice{
  padding-top:10px;
  padding-bottom: 20px
;}
.hr-container {
  position: relative;
}

.hr-container hr {
  border: none;
  height: 1px;
  background-color: #FFF;

}

.pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(59, 122, 122);

}

.pause-icon:before,
.pause-icon:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  height: 10px;
  background-color: #fff;

}

.pause-icon:before {
  left: 0;
}

.pause-icon:after {
  right: 0;
}
.btn{
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  background:linear-gradient(to left, rgb(64, 189, 168), #41775c);
  cursor: pointer;

}
